@font-face {
    font-family: test;
    src: url();
}
        
        
        
        
        h1 {
            font: normal 50px Courier New;
            color: #03A5E6;
            text-align: left;
            margin-top: 8px;
        }
        div.espaco-subtitulo{
            height: 70px;
            background-color: #03A5E6;
            color: white;
            margin-top: -70px;
        }

        p.subtitulo{
            font: normal 25px Helvetica;
            color: #ffffff;
            text-align: center;
        }

        img.brasil{
            margin-right: 100px;
            margin-top: 150px;
            width: 100px;
            height: 100px
        }
        input#entradanacionalide{
            margin-top: 400px;
        }