
body{
    font: normal 20pt Arial;
}
h1{
    text-align: center;
}
input#add_idade{
    margin-top: 60px;
}

section{
    background-color: #09E5ED;
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.349);
}